<ion-header no-shadow no-border>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "homebg">
    <ion-img src = "assets/img/logo.png" class = "backgroundLogo" style = "text-align: center;"></ion-img>
  </div>
  <div class = "inputDiv">
    <ion-item lines ="none">
      <ion-input type="text" placeholder = "Email" [(ngModel)] = "inputEmail" >
        <ion-icon name = "mail" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-input type="password" placeholder = "Password" [(ngModel)] = "password">
        <ion-icon name = "lock" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-button shape = "block" color = "dark" class = 'registerbtn' (click) = "login()">login</ion-button><br> 
    <div class = "forgotPass">
      <ion-label (click) = "recoverPassword()">Forgot your password?</ion-label>
    </div>
 </div>
 
</ion-content>
