<ion-header no-shadow no-border>
    <ion-toolbar>
      <ion-item slot="start" lines = "none">
        <ion-icon color="primary" name = "notifications"></ion-icon>
        <ion-label color="primary">Notifications</ion-label>
      </ion-item>
      <ion-buttons slot = "end">
        <ion-button style = "text-transform: none;" color="primary" (click) = "logout()"><ion-icon color="primary" name = "log-out"></ion-icon>logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <span style="color:teal; font-size: 12pt;"><b>_______</b><span style="color:black; font-size: 12pt;"><b>_______</b></span></span>      
  
  <ion-list *ngFor='let data of postData'>
      <ion-item style="font-family: 'Times New Roman', Times, serif;">
          <span style="color:dodgerblue; font-size: 12pt;">
              <span style="color:teal; font-size: 12pt;">{{data.title}}</span>
              <ion-label color="primary"></ion-label>
              {{data.message}}
              <span style="color:black; font-size: 12pt;">Posted On:</span>
              <span style="color:black; font-size: 12pt;">{{data.poston}}</span>
          </span>
      </ion-item>
  </ion-list>
</ion-content>

