<ion-header no-shadow no-border>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "homebg">
    <ion-img src = "assets/img/logo.png" class = "backgroundLogo" style = "text-align: center;"></ion-img>
  </div>
  <div class = "inputDiv">
    <ion-item lines ="none">
      <ion-input type="text" [ngClass]="inputStyleFN" placeholder = "Full Name" [(ngModel)] = "userName" (ionFocus)="inputFocusFN()">
        <ion-icon name = "person" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item lines ="none">
      <ion-input type="text" [ngClass]="inputStyleOrg" placeholder = "Organisation" [(ngModel)] = "organisation" (ionFocus)="inputFocusOrg()">
        <ion-icon name = "business" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item lines ="none">
      <ion-input type="tel" [ngClass]="inputStylePN" placeholder = "Phone Number" [(ngModel)] = "phonenumber" maxLength = "8" (ionFocus)="inputFocusPN()">
        <ion-icon name = "call" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item lines ="none">
      <ion-input type="password" [ngClass]="inputStyleNP" placeholder = "New Password" [(ngModel)] = "newpasswd" (ionFocus)="inputFocusNP()">
        <ion-icon name = "lock" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item lines ="none">
      <ion-input type="password" [ngClass]="inputStyleCP" placeholder = "Confirm Password" [(ngModel)] = "confirmpasswd" (ionFocus)="inputFocusCP()">
        <ion-icon name = "lock" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-label>* password should be atleast 6 letters</ion-label><br>
    <ion-button shape = "block" color = "dark" class = 'registerbtn' (click) = "passwordChange()">Reset Password</ion-button> 
 </div>

</ion-content>
