<ion-header no-shadow no-border>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "homebg">
    <ion-img src = "assets/img/logo.png" class = "backgroundLogo" style = "text-align: center;"></ion-img>
  </div>
  <div class = "inputDiv">
    <ion-item lines ="none">
      <ion-input type="text" placeholder = "Full Name" [(ngModel)] = "userName">
        <ion-icon name = "person" class= 'inputIcon' color = "medium" ></ion-icon>
          </ion-input>
        </ion-item><br>
    <ion-item lines ="none">
        <ion-input type="text" placeholder = "Organization" [(ngModel)] = "organisation" >
          <ion-icon name = "business" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-input>
    </ion-item><br>    
    <ion-item lines ="none">
      <ion-input type="password" placeholder = "New Password" [(ngModel)] = "newpasswd">
        <ion-icon name = "lock" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-input type="password" placeholder = "Confirm Password" [(ngModel)] = "confirmpasswd">
        <ion-icon name = "lock" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-label>* password should be atleast 6 letters</ion-label><br>
    <ion-button shape = "block" color = "dark" class = 'registerbtn' (click) = "passwordChange()">Reset Password</ion-button> 
 </div>
 
</ion-content>
