.card{
    --background: #add8e6; 
    color: #d8e6ad;
    color: #e6adbc;

}

ion-card{
    --background : #d8e6ad;
    height: 70px;
}
ion-item{
    --background : #d8e6ad;
    font-family: 'raleway-regular';

}

ion-icon{
    padding-right: 10px;
    width: 40px;
    height: 40px;
}

ion-label{
    color: #e9d1d8;
}
