<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title>Select Hall</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card *ngFor = "let hall of halls">
          <ion-item lines = "none" (click) = "goToHall(hall)">              
            <ion-icon name = "arrow-dropright" slot = "end" style = "padding:0px;"></ion-icon>
            <ion-icon name = "business"></ion-icon>
            <ion-label>{{hall}}</ion-label>
          </ion-item>
      </ion-card>
</ion-content>
