<ion-header no-shadow no-border>
    <ion-toolbar>
     <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-menu-button color = "primary"></ion-menu-button>
        <ion-title>Add Announcement</ion-title>
     </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
<div class = "inputDiv">
  <ion-item lines ="none">
    <ion-input type="text" placeholder="Enter unique id" [(ngModel)]="postId">
      <ion-icon name = "add-circle" class= 'inputIcon' color = "medium" ></ion-icon>
    </ion-input>
  </ion-item><br>
  <ion-item lines ="none">
      <ion-input type="text" placeholder="Subject" [(ngModel)]="postTitle">
        <ion-icon name = "notifications" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
        <ion-textarea type="text" placeholder="Enter message" [(ngModel)]="postMessage">
          <ion-icon name = "more" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-textarea>
      </ion-item><br>
   <ion-button shape="block" (click)="insertPost()">Add</ion-button><br>
   <ion-button shape="block" (click)="goUpdate()">Edit</ion-button>
</div>
</ion-content>
