<ion-header no-shadow no-border>
    <ion-toolbar>
      <ion-item slot="start" lines = "none">
        <ion-icon color="primary" name = "notifications"></ion-icon>
        <ion-label color="primary" >Add notifications</ion-label>
      </ion-item>
      <ion-buttons slot = "end">
        <ion-button style = "text-transform: none;" color="primary" (click) = "logout()"><ion-icon color="primary" name = "log-out"></ion-icon>logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
<!-- for posting notifications by admin -->
<ion-grid>
    <ion-row>
        <ion-col size="12">
          <ion-input type="text" placeholder="Enter unique id" class="m-style" [(ngModel)]="postId"></ion-input>
        </ion-col>
      </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-input type="text" placeholder="Eg: Changes in schedule..." class="m-style" [(ngModel)]="postTitle"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-textarea type="text" placeholder="Enter message" class="m-style" [(ngModel)]="postMessage"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12">
        <ion-textarea type="text" placeholder="Eg: Tuesday, 7,2019" class="m-style" [(ngModel)]="postOn"></ion-textarea>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button color="primary" shape="block" (click)="insertPost()">Add</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="12">
    <ion-button color="primary" shape="block" (click)="goUpdate()">Edit</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
