
<ion-header no-shadow no-border>
    <ion-toolbar>
     <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title>Agenda</ion-title>
     </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class = "inputDiv">
      <!-- <ion-item lines ="none">
        <ion-input type="number" placeholder = "Serial No" [(ngModel)] = "serial" >
          <ion-icon name = "key" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-input>
      </ion-item><br> -->
      <ion-item lines ="none">
        <ion-input type="text" placeholder = "Presenter Name" [(ngModel)] = "presenterName" >
          <ion-icon name = "person" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-input>
      </ion-item><br>
      <ion-item lines ="none">
        <ion-input type="text" placeholder = " Topic" [(ngModel)] = "topic" >
          <ion-icon name = "paper" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-input>
      </ion-item><br>
      <ion-item lines ="none">
        <ion-input type="time" placeholder = "Start" [(ngModel)] = "startTime" >
          <ion-icon name = "time" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-input>
      </ion-item><br>
      <ion-item lines ="none">
        <ion-input type="time" placeholder = "End" [(ngModel)] = "endTime" >
          <ion-icon name = "time" class= 'inputIcon' color = "medium" ></ion-icon>
        </ion-input>
      </ion-item><br>
      <ion-item lines ="none">
        <ion-label>Select Hall</ion-label>
        <ion-select placeholder="--Select--" [(ngModel)] = "selectedHall" (ionChange)="getAgendaCount()">
          <ion-select-option *ngFor = "let hall of halls" value = "{{hall}}">{{hall}}</ion-select-option>
        </ion-select>
      </ion-item><br>
      <ion-item lines ="none">
        <ion-label>Select Day</ion-label>
        <ion-select placeholder="--Select--" [(ngModel)] = "selectedDay">
          <ion-select-option *ngFor = "let day of days" value = "{{day}}">{{day}}</ion-select-option>
        </ion-select>
      </ion-item><br>
       <ion-button shape = "block" (click) = "addAgenda()">Add Agenda</ion-button>
    </div>
  </ion-content>
  