<ion-header no-shadow no-border>
    <ion-toolbar>
     <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title>Feedback</ion-title>
     </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class = "inputDiv">
        <ion-item lines ="none">
            <ion-textarea type="text" placeholder="Kindly provide us feedback..." [(ngModel)]="postFeedback">
            </ion-textarea>
        </ion-item><br>
        <ion-button shape = "block" (click)="insertFeedback()">Add</ion-button>
        <ion-button shape = "block" (click)="goFeedback()">View Feedbacks</ion-button>
    </div>
</ion-content>
