
<ion-card>
    <div  class = "icon">
      <ion-icon  name="close-circle-outline" (click) = "dismiss()" color = "primary"></ion-icon>
    </div>

    <div class = "recoverPass">
      <ion-label>
        Enter your email below and we'll send you instructions to recover your password
      </ion-label>
      <ion-item lines ="none" style = "margin-top: 30px;">
          <ion-input type="text" placeholder = "Email" [(ngModel)] = "inputEmail" >
            <ion-icon name = "mail" class= 'inputIcon' color = "medium" ></ion-icon>
          </ion-input>
        </ion-item><br>
        <ion-button shape = "block" color = "primary" class = 'registerbtn' (click) = "recover()">send</ion-button>
    </div>
</ion-card>
