<<<<<<< HEAD


ion-icon
{
    height: 25px;
    width: 25px;
}
.row1{
    background:lightgray;
    color: black;
    }
.icon{
    z-index: 10px;
    position: absolute;
    top:5%;
    left: 95%;
    transform: translate(-50%, -50%);

 }

 ion-card{
     margin: 0px;
     box-shadow: none !important;
     height: 100%;


 }
 
.cardImage{
    width: 100%;
    height: 150px;
    margin-top: -10px;
    
}
.recoverPass{
    width: 80%;
    margin: auto;
    padding-top: 20%;
    font-family: 'raleway-regular';
}
ion-input{
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-color: #989aa2;
  
  }

  ion-icon{
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

=======


ion-icon
{
    height: 25px;
    width: 25px;
}
.row1{
    background:lightgray;
    color: black;
    }
.icon{
    z-index: 10px;
    position: absolute;
    top:5%;
    left: 95%;
    transform: translate(-50%, -50%);

 }

 ion-card{
     margin: 0px;
     box-shadow: none !important;
     height: 100%;


 }
 
.cardImage{
    width: 100%;
    height: 150px;
    margin-top: -10px;
    
}
.recoverPass{
    width: 80%;
    margin: auto;
    padding-top: 20%;
    font-family: 'raleway-regular';
}
ion-input{
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-color: #989aa2;
  
  }

  ion-icon{
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

>>>>>>> 1b8ace90748548bc250556b84191d7fec8515bd9
