<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="user-dashboard">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="conferenceselect">
          <ion-icon name="bookmarks"></ion-icon>
          <ion-label>Agenda</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="newsfeed">
          <ion-icon name="paper"></ion-icon>
          <ion-label>News Feed</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="announcements">
          <ion-icon name="megaphone"></ion-icon>
          <ion-label>Announcement</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
    <ion-fab vertical = 'center' horizontal = "end" color = "dark" *ngIf = "voteOption == true">
      <ion-fab-button (click) = "castvote()">
        <ion-label>Vote</ion-label>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical = 'center' horizontal = "end" color = "dark" *ngIf = "resultOption == true">
      <ion-fab-button (click) = "result()">
        <ion-label>Result</ion-label>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical = 'center' horizontal = "start" color = "dark" *ngIf = "feedbackOption == true" >
      <ion-fab-button (click) = "feedback()" class = "feedbackIcon">
        <ion-label>feedback</ion-label>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  