<ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color = "primary"></ion-menu-button>
        <ion-back-button color="primary"></ion-back-button>
        <ion-title id="title" color="primary"><b>Error message</b></ion-title>
        <p button="true" (click)="goAddmore()" style="color:dodgerblue">Add post</p>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
<p>Something went wrong. No data available or No internet connection</p>
</ion-content>
