<ion-header no-shadow no-border>
  <ion-toolbar>
   <ion-buttons>
      <ion-back-button (click)="goHome()"></ion-back-button>
      <ion-title>Sorry something is wrong</ion-title>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-item>
     <ion-col>
       No Internet connection. Make sure the <span style="color: teal;">Wi-Fi</span> or <span style="color: teal;">cellular mobile data</span> is turn on and try again.
       <ion-back-button></ion-back-button>
    </ion-col>
   </ion-item>
</ion-content>