<ion-header>
    <ion-toolbar>
        <ion-title>
            Announcement
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher  slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content 
                refreshingSpinner="crescent"
                refreshingText="Refreshing ...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor='let data of postData'>
        <ion-card-content>
            <span style = "color: dodgerblue; font-size: 12pt; font-family: 'Roboto-Bold'">{{data.title}}</span><br>
            <span style="font-size: 12pt; font-family : 'Roboto-Regular'; color: black;">{{data.message}}</span><br>
            <span class = "date">{{data.poston}}</span>
        </ion-card-content>
      </ion-card>
</ion-content>
