<ion-header>
    <ion-toolbar>
        <ion-title>
            Announcement
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor='let data of postData'>
        <ion-card-content style="font-family: 'Times New Roman', Times, serif;">
            <span style="color:dodgerblue; font-size: 12pt;">
                <span color="primary" style="font-size: 12pt;">{{data.title}}</span><br>
                <span style="color:black; font-size: 12pt;">{{data.message}}</span><br>
                <span>Posted On:</span>
                <span>{{data.poston}}</span>
            </span>
        </ion-card-content>
      </ion-card>
</ion-content>

