<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-title>
      <ion-title>
        Conference hall 1
      </ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-select placeholder="--Select--" [(ngModel)] = "selectedDay" (ionChange) = "getAgendaDoc()">
    <ion-select-option *ngFor = "let day of days" value = "{{day}}">{{day}}</ion-select-option>
</ion-select>
<ion-content>
  <div>
    <ion-card color>
      <ion-row>
        <ion-col size = "1" class = "sideBanner" ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{startTime}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{endTime}}
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-button (click) = "getAgendaDoc()">get data</ion-button>
</ion-content>
