<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/conferencetabs/conferenceselect"></ion-back-button>
     <ion-title> Agenda</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines = "none">
      <ion-label color = "medium">Select Day : </ion-label>
      <ion-select placeholder="--Select--" [(ngModel)] = "selectedDay" (ionChange) = "getAgendaDoc()">
          <ion-select-option *ngFor = "let day of days" value = "{{day}}">{{day}}</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-list>
      <ion-item *ngFor = "let agenda of resultsObj" >
        <div class = "sidebanner">
            <ion-icon name = "star" color = "light"></ion-icon>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size = "3" class = "time">
              <ion-text>{{agenda.startTime}}</ion-text>
            </ion-col>
            <ion-col *ngIf = "agenda.presentername != '' ">
                <div class = "topic">
                  {{agenda.presentername}}
                </div>
            </ion-col>
            <ion-col size = "9" *ngIf =  "agenda.presentername == '' ">
              <div class = "topic">
                {{agenda.topic}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size = "3" class = "time">
              <ion-text>{{agenda.endTime}}</ion-text>
            </ion-col>
            <ion-col size = "9" *ngIf = "agenda.presentername != '' ">
              <div class = "topic">
                {{agenda.topic}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>  
 

</ion-content>
