<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-title>
      <ion-title>
        Conference hall 1
      </ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <ion-card color>
      <ion-row>
        <ion-col size = "1" class = "sideBanner" ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          9 : 00 AM
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          10 : 00 AM
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
