ion-icon{
    padding-right: 10px;
}

ion-toolbar{
    --background: #b8dfca;
}

.sponsors{
    text-align: center;
    font-family: 'raleway-regular';
    font-weight: bolder;
    width: 90%;
    margin: auto;
}

// ion-card{
//     --background: #b8dfca;
// }

ion-item{
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
}