<ion-header>
  <ion-toolbar>
    <ion-item slot="start" lines = "none">
      <ion-icon name = "person"></ion-icon>
      <ion-label>Hello {{ userName }}</ion-label>
    </ion-item>
    <ion-buttons slot = "end">
      <ion-button style = "text-transform: none;" (click) = "logout()"><ion-icon name = "log-out"></ion-icon>logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wholePageShowVar">
<ion-card>
  <ion-img src = "{{banner}}" style = "width: 100%; height:30%"></ion-img>
  <ion-card-content>

    <ion-item lines = "none">
      <ion-icon name = "business"></ion-icon>
      <ion-label text-wrap>{{confName}}</ion-label>
    </ion-item>
    <ion-item lines = "none">
      <ion-icon name = "pin"></ion-icon>
      <ion-label text-wrap>{{venue}}</ion-label>
    </ion-item>
    <ion-item lines = "none">
        <ion-icon name = "calendar"></ion-icon>
        <ion-label text-wrap> {{startdate}} to {{enddate}}</ion-label>
    </ion-item>
    <ion-item lines = "none" *ngIf = "description!=''">
      <ion-icon name = "information-circle-outline"></ion-icon>
      <ion-label text-wrap> {{description}}</ion-label>
  </ion-item>
  </ion-card-content>
</ion-card>
<div class = "sponsors" *ngIf = "sponsor1!='none' || sponsor2!='none' || sponsor3!='none' || sponsor4!='none' || sponsor5!='none' || sponsor6!='none'">
    <ion-label color = "primary">Sponsors</ion-label>
<ion-grid >
  <ion-row>
    <ion-col><ion-img *ngIf="sponsor1!='none'" src = "{{sponsor1}}"></ion-img></ion-col>
    <ion-col><ion-img *ngIf="sponsor2!='none'" src = "{{sponsor2}}"></ion-img></ion-col>
    <ion-col><ion-img *ngIf="sponsor3!='none'" src = "{{sponsor3}}"></ion-img></ion-col>
  </ion-row>
  <ion-row>
      <ion-col><ion-img *ngIf="sponsor4!='none'" src = "{{sponsor4}}"></ion-img></ion-col>
      <ion-col><ion-img *ngIf="sponsor5!='none'" src = "{{sponsor5}}"></ion-img></ion-col>
      <ion-col><ion-img *ngIf="sponsor6!='none'" src = "{{sponsor6}}"></ion-img></ion-col>
  </ion-row>
</ion-grid>
</div>
 
</ion-content>
