<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color = "primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class = "homebg">
    <ion-img src = "assets/img/logo.png" class = "backgroundLogo" style = "text-align: center;"></ion-img>
  </div>
  <div class = 'text'>
    <ion-text color = "primary" style = "font-size: 20px;">
      Admin Dashboard
    </ion-text><br><br>
    <ion-text color = "medium">
      Admin has privilege to manipulate all the events
    </ion-text>
  </div>

  <div class = "addDiv">
    <ion-button shape = "block" (click) = "addHall()"><ion-icon name = "add" style = "margin-right: 20px;"></ion-icon>Add Hall</ion-button>
    <ion-button shape = "block" (click) = "addAgenda()"><ion-icon name = "add"  style = "margin-right: 20px;"></ion-icon>Add Agenda</ion-button>
    <ion-button shape = "block" (click) = "addNews()"><ion-icon name = "add" style = "margin-right: 20px;"></ion-icon>Add News</ion-button>
  </div>


  <ion-fab vertical = 'bottom' horizontal = "end" >
    <ion-fab-button (click) = "addConference()">
      <ion-icon name = "calendar"></ion-icon><br>
    </ion-fab-button>
  </ion-fab>
</ion-content>
