ion-toolbar{
  --background: #b8dfca; 
}

ion-text{
  text-align: center;
  padding-top: 10px;
  font-family: 'raleway-regular';
}

.text{
  padding-top: 40px;
  text-align: center;
  margin: auto;
  width:80%;
}

.addDiv{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

ion-button{
  border-radius: 30px;
  --background : #b8dfca;
  color : #243d7f;
}
