<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title color = "primary">
          Conference
        </ion-title>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
  <ion-content>

      <div class = "inputDiv">
          <ion-item lines ="none">
            <ion-input type="text" placeholder = "Conference Name" [(ngModel)] = "conferenceName">
              <ion-icon name = "contacts" class= 'inputIcon' color = "medium" ></ion-icon>
                </ion-input>
              </ion-item><br>
          <ion-item lines ="none">
              <ion-input type="text" placeholder = "Venue" [(ngModel)] = "venue" >
                <ion-icon name = "pin" class= 'inputIcon' color = "medium" ></ion-icon>
              </ion-input>
          </ion-item><br>    
          <ion-item lines ="none">
            <ion-input type="time" [(ngModel)] = "time">
              <ion-icon name = "time" class= 'inputIcon' color = "medium" ></ion-icon>
            </ion-input>
          </ion-item><br>
          <ion-item lines ="none">
            <ion-input type="date" [(ngModel)] = "date">
              <ion-icon name = "calendar" class= 'inputIcon' color = "medium" ></ion-icon>
            </ion-input>
          </ion-item><br>
          <ion-item lines ="none">
            <ion-label color = "medium">Add Conferenc Banner</ion-label>
            <ion-icon name = "image" style = "width: 60px; height: 60px;" color = "medium" (click) = "chooseFile()"></ion-icon>
            </ion-item><br>
            <ion-label *ngIf = "image">{{imageName}}</ion-label>
          <ion-button shape = "block" color = "dark" class = 'registerbtn' (click) = "addConference()">Add Conference</ion-button> 
       </div>
  
  
  </ion-content>
  
