<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Conference</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "inputDiv">
    <ion-item lines ="none">
      <ion-input type="text" placeholder = "Conference Name" [(ngModel)] = "conferenceName" >
        <ion-icon name = "contacts" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-input type="text" placeholder = "venue" [(ngModel)] = "venue">
        <ion-icon name = "pin" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-label position="stacked">Start Date:</ion-label>
      <ion-input type="date" [(ngModel)] = "startdate">
        <ion-icon name = "calendar" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-label position="stacked">End Date:</ion-label>
      <ion-input type="date" [(ngModel)] = "enddate">
        <ion-icon name = "calendar" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-input type="number" [(ngModel)] = "duration" placeholder = "Duration (Days)">
        <ion-icon name = "time" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-input>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-textarea type="text" placeholder = "Enter Short Description" [(ngModel)] = "description">
        <ion-icon name = "information-circle-outline" class= 'inputIcon' color = "medium" ></ion-icon>
      </ion-textarea>
    </ion-item><br>
    <ion-item lines ="none">
      <ion-label color = "medium">Add Conference Banner</ion-label>
    </ion-item>
    <ion-item lines = "none">
      <input type = "file" color = "medium" (change) = "detectFiles($event)" style = "height: 50px;" placeholder="Upload File">      
    </ion-item>
    <br>
    <ion-button shape = "block" color = "dark" class = 'addConferenceBtn' (click) = "addConference()">Add Conference</ion-button><br> 
</div>
</ion-content>
